{% load static %}
<!doctype html>
<html lang="en">
  <head>
    {% block meta %} {% endblock meta %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <header class="site-header">
      <div class="container">
        <a href="{% url 'main:show_main' %}" class="brand">{{ name }}</a>
        <nav>
<div class="tab-container">
  <input type="radio" name="tab" id="tab1" class="tab tab--1" {% if request.resolver_match.url_name == 'show_main' %}checked{% endif %} />
  <label class="tab_label" for="tab1">
    <a href="{% url 'main:show_main' %}">Profile</a>
  </label>

  <input type="radio" name="tab" id="tab2" class="tab tab--2" {% if request.resolver_match.url_name == 'show_experience' %}checked{% endif %} />
  <label class="tab_label" for="tab2">
    <a href="{% url 'main:show_experience' %}">Experience</a>
  </label>

  <input type="radio" name="tab" id="tab3" class="tab tab--3" {% if request.resolver_match.url_name == 'show_certificate' %}checked{% endif %} />
  <label class="tab_label" for="tab3">
    <a href="{% url 'main:show_certificate' %}">Certificates</a>
  </label>

  <input type="radio" name="tab" id="tab4" class="tab tab--4" {% if request.resolver_match.url_name == 'show_book' %}checked{% endif %} />
  <label class="tab_label" for="tab4">
    <a href="{% url 'main:show_book' %}">Pinjam Buku</a>
  </label>

  <div class="indicator"></div>
</div>

        </nav>
      </div>
    </header>
    {% block content %} {% endblock content %}
    <footer class="site-footer">
      <div class="container">
        <p>
          &copy; 2026 {{ name }}. Fakultas Ilmu Komputer, Universitas Indonesia.
        </p>
      </div>
    </footer>
  </body>
</html>
